Source: atarashi
Maintainer: FOSSology <fossology@fossology.org>
Section: python
Priority: optional
Build-Depends: debhelper-compat (= 12),
               dh-python,
               python3-setuptools,
               python3-all,
               python3-pip,
               python3-tqdm,
               python3-numpy,
               python3-pandas,
               python3-urllib3
Standards-Version: 4.3.0
X-Python3-Version: >= 3.5
Homepage: https://fossology.github.io/atarashi
Vcs-Git: https://github.com/fossology/atarashi.git
Vcs-Browser: https://github.com/fossology/atarashi

Package: atarashi
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: An intelligent license scanner.
 Atarashi is a new license scanner which uses statistical text analysis for
 license scanning.
